* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.confirmation-container {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 90%; /* Ensuring mobile responsiveness */
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}
.error-container {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 90%; /* Ensuring mobile responsiveness */
    text-align: center;
}

.error-container h2 {
    color: #d9534f; /* A light red color for error emphasis */
    margin-bottom: 20px;
}

.error-container p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}
.request-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* This is to remove the underline from the anchor link */
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.request-button:hover {
    background-color: #0056b3;
}

.helpBtn {
    display: inline; /* Ensure the link is displayed inline */
    text-decoration: underline; /* Optional: to make it look more like a traditional link */
    cursor: pointer; /* Optional: to indicate it's clickable */
    color: blue; /* Optional: to style it like a traditional link */
    /* Any other styles you want to apply to the link */
}

.checkbox-label {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Create three columns */
    align-items: left; /* Align items vertically in the center */
    gap: 10px;
}

.dropdown-label {
    display: flex; /* Use Flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out the children elements */
    margin-bottom: 10px;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Form inside Modal Content */
.modal-content form {
    width: 100%; /* Make form take the full width of its container */
    max-width: 100%; /* Override any max-width set on the form */
    box-sizing: border-box;
}

